/* pages/CategoryPage.css */
.category-page {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .letter-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
  }
  
  .letter-button {
    padding: 35px;
    font-size: 30px;
    width: 90%;
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
  }



  .message-input {
    display: flex;
    margin-top: 125px;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
  }

  .message-input input {
    flex-grow: 1;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px;
    max-width: 900px;
    height: 30px; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .message-input button {
    padding: 20px 50px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 20px;
  }

  
