/* pages/CategoryPage.css */
.category-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
}

.letter-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
}

.letter-button {
  position: relative;
  padding: 35px;
  font-size: 35px;
  width: 100%;
  height: 130px; /* ปรับขนาดความสูงตามที่ต้องการ */
  background-color: #D8EEEB;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.letter-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* เริ่มจากด้านซ้ายสุด */
  height: 100%;
  width: 100%;
  background-color: rgba(76, 175, 127, 0.5); /* สีเขียวโปร่งใส */
  animation: none; /* เริ่มต้นไม่ต้องการ animation */
  z-index: 1;
  pointer-events: none; /* ป้องกันไม่ให้แถบโหลดบังการคลิก */
}

@keyframes load {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.letter-button.gazing::before,
.letter-button:hover::before {
  animation: load 3s linear forwards; /* ใช้ animation เคลื่อนที่ */
}

.letter-button > span {
  position: relative;
  z-index: 2;
}

.delete-icon {
  width: 65px; 
  height: 50px;
}

.message-input {
  display: flex;
  margin-top: 90px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
}

.message-input input {
  flex-grow: 1;
  padding: 15px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 20px;
  max-width: 900px;
  height: 30px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.message-input button {
  padding: 20px 20px;
  font-size: 25px;
  background-color: #009688;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 20px;
  width: 25%; 
  height: 100%; 
}

.message-input button:hover {
  background-color: #4DB6AC;
}

.alert-icon {
  position: absolute;
  top: 20px; /* กำหนดระยะจากด้านบน */
  right: 40px; /* กำหนดระยะจากด้านขวา */
  width: 70px; /* ปรับขนาดไอคอนตามต้องการ */
  height: 70px;
  cursor: pointer;
}

/* เพิ่ม CSS สำหรับ Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 600px; 
  width: 100%;
  height: 40%;
}

.popup-content p {
  font-size: 2em;
  margin-bottom: 30px;
}

.popup-content button {
  margin: 50px;
  padding: 40px 20px; 
  font-size: 1.2em; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  width: 30%; 
  height: 100px; 
}

.popup-content button:hover {
  background: #8abee4;
  transform: scale(1.05); /* ขยายขนาดปุ่มเล็กน้อยเมื่อ hover */
}

.popup-content button:active {
  background: #e0e0e0; 
}
